
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
<script>

    $().ready(function () {

        $.ajax({
            url: "http://localhost:59253/api/professor/",
            method: "GET",
            success: function (data) {
                $.each(data, function (index, item) {
                    var linha = $("<tr>");
                    linha.append($("<td>").text(item.Id));
                    linha.append($("<td>").text(item.Nome));
                    linha.append($("<td>").text(item.Salario));
                    $("tbody").append(linha);
                });
            }

        });

    });

</script>
    }