
@{
    ViewBag.Title = "Cadastrar";
}

@HelperLayout.Titulo("Cadastrar")

<div class="row">
    <div class="col-md-12">
        
        @using (Html.BeginForm())
        {

        }

    </div>
</div>

