@model List<Fiap.Exercicio03.MVC.Web.Models.Produto>
@{
    ViewBag.Title = "Listar";
}

@HelperLayout.Titulo("Listar")

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data de Cadastro</th>
                    <th>Valor</th>
                    <th>Nacional</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.Partial("_lista", item)                   
                }
            </tbody>
        </table>
    </div>
</div>

