
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{    
    <p>@User.Identity.</p>
    @Html.ActionLink("Sair", "Logout")
}
else
{
    @Html.ActionLink("Entrar", "Login")
    <br>
    @Html.ActionLink("Registrar", "Register")
}