@model Fiap.Exemplo02.MVC.Web.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.TextBoxFor(u => u.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" />
    </div>
}