@model Fiap.Ex02.MVC.Web.ViewModels.GrupoViewModel
@{
    ViewBag.Title = "Listar";
}

@HelperLayout.Titulo("Lista de Grupo")

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nota</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="tabela">
                @Html.Partial("_tabela", Model.Grupos)
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Excluir</h4>
            </div>
            <div class="modal-body">
                Realmente quer excluir?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Aluno"))
                {
                    <input type="hidden" id="excluirId" name="id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    @HelperForm.Submit("Excluir", "btn btn-danger")
                }

            </div>
        </div>
    </div>
</div>