@helper BotaoSubmit(string caption, string estilo) { 
    <input type="submit" value="@caption" class="@estilo" />
}

@*@helper InputText(TModel campo) { 
    <div class="form-group">
        @Html.LabelFor(campo)
    </div>
}*@